html,body{
height:auto;
overflow-x:hidden;
    background-color: papayawhip;
}
header{
     color: #fff;
    background-color: #ce1919;
    position: fixed;
    width: 100%;
    height: 12%;
    top: 0;
    left: 0;
}
 h1{
        position: absolute;
        top: 0px;
        left: 0%;
        color:antiquewhite;
      font-family: 'Lobster Two', cursive;
   }
   footer{
    position: absolute;
    bottom: 0;
    
    width: 100%;
    height: 10%;
 background-color: #ce1919;
   }
   button{
     background-color: rgb(109, 13, 13);
    border: none;
   }
   
  /*  ---------------------video-container------------------ */
  
  .video-container{
 position: absolute;
    top: 16%;
    left: 10%;
    height: 70%;
    width: 80%;
    border: 1px solid black;
    background-color: rgba(18, 1, 1, 0.78);
  }

  #video-desc{

      background-color: rgba(204, 4, 4, 0.35);
      height: 5%;
      color:antiquewhite;
      position: relative;
      font-family: 'Yatra One', cursive;


  }

  video::-webkit-media-controls {
  display:none !important;
}





  .video{
      
       position: relative;
     background-color: #46342f;

    width: 65%;
    height: 65%;
    top: 7%;
    left: 16%;
    
       
       
    /*    position: relative;
    background-color: white;
    width: 70%;
    height: 66%;
    top: 10%;
    left: 15%;
 border:4px solid #ce1919; */
  }

  #firstVideo
  {
                position: absolute;
                height: 100%;
                width: 100%;
              }


  #play_pause{
       position: relative;
    top: 42%;
    width: 6%;
    left: 45%;
    visibility: hidden;
    cursor: pointer;
    transition: 0.3s ease-in;
  }

.button-disable{

  opacity:0.3;
}


/*preloader*/
#preloader{

      position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
    z-index: 5;
    display:none;

      }
  #preloader img{

        width: 15%;
    left: 41%;
    position: absolute; 
  }    
  
  
  

 /*  --------------------buttonbar----------------------- */
 #vidstart-time{
  position:absolute;
  top:-2%;
  color:white;
  
 }
 #playduration{
      position: absolute;
    width: 92%;
    top: 8%;
    left: 3%;
 }
 #vidend-time{
      position: absolute;
    top: -2%;
    left: 96%;
 color:white;
 }
  .control{
   position: relative;
    top: 32%;
    width: 100%;
    height: 62%;
       background-color: rgba(206, 25, 25, 0.53);
  }
  .controlicon{
    position: relative;
    width: 80%;
    left: 14%;
    top: 2%;
    height: 90%;
    
  }
  #play{
   position: relative;
    top: 10%;
    left: 7%;
  }
  #rewind{
      position: relative;
    top: 10%;
    left: 10%;
 transform:rotateY(180deg);
  }
  #restart{
    position: relative;
    top: 10%;
    left: 13%;
  }
  #fastFwd{
       position: relative;
    top: 10%;
    left: 17%;

   
  }
  #fullscreen{
    position: relative;
    top: 10%;
    left: 19%;
   
  }
  #mute-toggle{
   position: relative;
    top: 10%;
   
   
  }
  #volume-controller{
        position: relative;
    /* width: 20%; */
    top: -88%;
    left: 59%;

    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(1, rgba(206, 25, 25, 0.71)),
        color-stop(1, #C5C5C5)
    );
   
  }
  #volume{
   position: absolute;
     color: white; 
    top: 21%;
    left: 162%;
  }
  #buttonbar{
   
       position: absolute;
    background-color: black;
    width: 100%;
    height: 15%;
    bottom: 0;
  }
  .volume-controller{
        position: relative;
    top: -88%;
    left: 55%;
    width: 10%;
    height: 90%;

  }
  
/*   ----------------------footer-------------------- */
#prev_btn{
 position: absolute;
    top: 26%;
    
    left: 2%;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
     background-color: #ce1919;

}
#next_btn{
     position: absolute;
    top: 26%;
    left: 93%;
     background-color: #ce1919;

}
  .embed-responsive-4by3 {
    padding-bottom: 75%;
}

.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}

.fullscreenControl{
    z-index: 9999999999999999;
    position: fixed;
    width: 100%;
    bottom: 2%;
    left: 50%;
    margin-left: -50%;
  }

  input[type="range"]{
    -webkit-appearance: none;
    -moz-apperance: none;
    border-radius: 6px;
    height: 6px;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0, rgba(206, 25, 25, 0.71)),
        color-stop(0.15, #C5C5C5)
    );
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background-color: #E9E9E9;
    border: 1px solid #CECECE;
    height: 15px;
    width: 15px;
    border-radius:50%;
}

